---
import { Image } from 'astro:assets';
import Section from '../common/SectionLayout.astro';
import SectionTitle from '../common/SectionTitle.astro';
import SectionDesc from '../common/SectionDesc.astro';
import SectionLink from '../common/SectionLink.astro';

const gallery = [
    {
        id: '1',
        title: 'Kurosaki Ichigo',
        date: '09-03-2023',
    },
    {
        id: '2',
        title: 'Eren Yeager',
        date: '07-04-2023',
    },
    {
        id: '3',
        title: 'Gwen Stacy',
        date: '11-06-2023',
    },
    {
        id: '4',
        title: 'Miles Morales',
        date: '13-06-2023',
    },
    {
        id: '5',
        title: 'Ghost',
        date: '29-06-2023',
    },
    {
        id: '6',
        title: 'Hirako Shinji',
        date: '01-08-2023',
    },
    {
        id: '7',
        title: 'Shinobu Kocho',
        date: '02-08-2023',
    },
];
---

<Section>
    <div class="flex flex-col items-center justify-center py-4 md:py-14">
        <SectionTitle content="Gallery" />
        <SectionDesc content="A collection of my designs created using Figma and Alight Motion" />
        <div class="w-full px-6 md:px-0">
            <div class="flex md:hidden items-center overflow-x-auto whitespace-nowrap space-x-4 py-2">
                {
                    gallery.map(({ id, title, date }) => (
                        <div class="flex-shrink-0 w-60 rounded-lg overflow-hidden">
                            <Image
                                id={id}
                                src={`/images/gallery/${id}.webp`}
                                alt={title}
                                width={240}
                                height={240}
                                loading="lazy"
                                decoding="async"
                                format="webp"
                                draggable="false"
                                class="w-full h-full object-cover"
                                img-key="gallery"
                            />
                        </div>
                    ))
                }
            </div>
            <div class="md:grid hidden grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 place-items-center">
                {
                    gallery.map(({ id, title, date }) => (
                        <div class="h-full w-full rounded-lg overflow-hidden">
                            <Image
                                id={id}
                                src={`/images/gallery/${id}.webp`}
                                alt={title}
                                width={240}
                                height={240}
                                loading="lazy"
                                decoding="async"
                                format="webp"
                                draggable="false"
                                class="w-full h-full object-cover"
                                img-key="gallery"
                            />
                        </div>
                    ))
                }
            </div>
        </div>
        <SectionLink link="/gallery" content="View all designs" />
    </div>
    <script>
        // const design = document.querySelectorAll('[img-key="gallery"]');
        // design.forEach((item) => {
        //     item.addEventListener('click', (e) => {
        //         const target = e.target as HTMLElement;
        //         console.log(target.id);
        //     });
        // });
    </script>
</Section>
