---
import Section from '../common/SectionLayout.astro';
import SectionTitle from '../common/SectionTitle.astro';
import SectionDesc from '../common/SectionDesc.astro';
import Image from 'astro/components/Image.astro';

const works = [
    {
        id: 1,
        title: 'Manual Parking System',
        desc: 'A streamlined manual parking system built with native PHP for efficient space management.',
        image: '/images/works/1.webp',
        alt: 'Manual Parking System',
        tools: ['PHP', 'MySQL', 'Bootstrap'],
        github: 'https://github.com/zangetsuuuu/manual-parking-system',
    },
    {
        id: 2,
        title: 'Toilet Checklist System',
        desc: 'An intuitive checklist system for maintaining restroom cleanliness, powered by native PHP.',
        image: '/images/works/2.webp',
        alt: 'Toilet Checklist System',
        tools: ['PHP', 'MySQL', 'Bootstrap'],
        github: 'https://github.com/zangetsuuuu/toilet-checklist-system',
    },
    {
        id: 3,
        title: 'Simple Online Store',
        desc: 'A lightweight online store platform offering seamless online shopping with Faspay integration for easy payments—no shipping required.',
        image: '/images/works/3.webp',
        alt: 'Simple Online Store',
        tools: ['CodeIgniter4', 'MySQL', 'TailwindCSS', 'Flowbite'],
        github: 'https://github.com/zangetsuuuu/ci4-online-store',
    },
];
---

<Section>
    <div class="flex flex-col items-center justify-center py-4 md:py-14">
        <SectionTitle content="Works" />
        <SectionDesc
            content="Here are some of my works • Hover or click for detail"
        />
        <div class="w-full px-6 md:px-0">
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center"
            >
                {
                    works.map(({ title, desc, image, alt, tools, github }) => (
                        <div class="relative w-full h-40 md:h-60 rounded-md overflow-hidden group">
                            <Image
                                src={image}
                                alt={alt}
                                width={240}
                                height={240}
                                loading="lazy"
                                decoding="async"
                                format="webp"
                                draggable="false"
                                class="w-full h-full object-cover filter saturate-50 transition-transform duration-300 group-hover:scale-105"
                            />
                            <div class="absolute inset-0 p-4 opacity-0 group-hover:opacity-100 backdrop-blur-md bg-black/80 transition-opacity duration-300">
                                <div class="flex flex-col justify-between h-full">
                                    <div class="flex items-center space-x-3">
                                        {tools.map((tool) => (
                                            <Image
                                                src={`/icons/${tool.toLowerCase()}.svg`}
                                                alt={tool}
                                                width={24}
                                                height={24}
                                                loading="lazy"
                                                decoding="async"
                                                format="svg"
                                                draggable="false"
                                                class="w-5 h-5 md:w-6 md:h-6 select-none"
                                            />
                                        ))}
                                    </div>
                                    <div class="flex items-end justify-between">
                                        <div class="max-w-[13rem] md:max-w-[20rem]">
                                            <h3 class="text-gradient text-sm md:text-base font-medium">
                                                {title}
                                            </h3>
                                            <p
                                                title={desc}
                                                class="text-gradient-secondary text-xs line-clamp-4"
                                            >
                                                {desc}
                                            </p>
                                        </div>
                                        <a
                                            href={github}
                                            target="_blank"
                                            class="flex items-center justify-center space-x-2 p-2 rounded bg-black/30 backdrop-blur-md hover:-translate-y-1 transition-transform duration-300"
                                        >
                                            <Image
                                                src="/icons/github.svg"
                                                alt="Github"
                                                width={20}
                                                height={20}
                                                loading="lazy"
                                                decoding="async"
                                                format="svg"
                                                draggable="false"
                                                class="w-4 h-4 md:w-5 md:h-5 select-none"
                                            />
                                            <code class="text-gradient-secondary text-[0.5rem] md:text-[0.6rem]">
                                                Source code
                                            </code>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Section>
