---
import { Image } from 'astro:assets';
import { galleryList } from '../data/gallery.js';

const gallery = Astro.url.pathname === '/' ? galleryList.slice(0, 8) : galleryList;
const width = Astro.url.pathname === '/' ? 'w-60' : 'w-full';
const maxWidth = Astro.url.pathname === '/' ? 'max-w-36' : 'max-w-28';
const padding = Astro.url.pathname === '/' ? 'p-4' : 'p-3 md:p-4';
---

{
    gallery.map(({ id, title, date, tool }) => (
        <div class={`relative ${width} md:w-full flex-shrink-0 md:flex-shrink rounded-md overflow-hidden group`}>
            <Image
                id={id}
                src={`/images/gallery/${id}.webp`}
                alt={title}
                width={240}
                height={240}
                loading={Astro.url.pathname === '/' ? 'lazy' : (Number(id) <= 8 ? 'eager' : 'lazy')}
                decoding="async"
                format="webp"
                draggable="false"
                class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105 select-none"
            />
            <div class={`absolute inset-0 ${padding} opacity-0 group-hover:opacity-100 backdrop-blur-md bg-black/60 transition-opacity duration-300 rounded-md`}>
                <div class="flex flex-col justify-between h-full">
                    <div class="flex items-center justify-between">
                        <div class="-space-y-0.5">
                            <h4 class={`text-gradient text-sm xl:text-lg font-medium line-clamp-1 ${maxWidth} md:max-w-40`}>{title}</h4>
                            <p class="text-gradient-secondary text-[0.65rem] xl:text-sm">{date}</p>
                        </div>
                        <Image
                            src={`/icons/${tool.replace(' ', '').toLowerCase()}.svg`}
                            alt={tool}
                            width={24}
                            height={24}
                            loading={Astro.url.pathname === '/' ? 'lazy' : (Number(id) <= 8 ? 'eager' : 'lazy')}
                            decoding="async"
                            format="svg"
                            draggable="false"
                            class="w-5 xl:w-7 h-5 xl:h-7 select-none"
                        />
                    </div>
                    <div class="flex items-end justify-between">
                        <div class="w-full flex items-center justify-between">
                            <a
                                href={`/images/gallery/${id}.webp`}
                                download={`${id}.webp`}
                                class="text-gradient text-sm xl:text-lg font-medium hover:-translate-y-1 transition-transform duration-300"
                            >
                                Download
                            </a>
                            <button
                                id="modal-btn"
                                design-id={id}
                                design-title={title}
                                class="text-gradient text-sm xl:text-lg font-medium hover:-translate-y-1 transition-transform duration-300"
                            >
                                Expand
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    ))
}
