---
import { Image } from "astro:assets";
import { projectsList } from "../data/projects.js";

const currentPath = Astro.url.pathname;
const projects = currentPath === '/' ? projectsList.slice(0, 4) : projectsList;
---

{
    projects.map(({ id, title, desc, techs, github }) => (
        <div class="relative w-full h-52 md:h-64 xl:h-80 rounded-md overflow-hidden group">
            <Image
                id={id}
                src={`/images/projects/${id}.webp`}
                alt={title}
                width={240}
                height={240}
                loading={currentPath === '/' ? 'lazy' : (Number(id) <= 4 ? 'eager' : 'lazy')}
                decoding="async"
                format="webp"
                draggable="false"
                class="w-full h-full object-cover filter saturate-50 transition-transform duration-300 group-hover:scale-105 select-none"
            />
            <div class="absolute inset-0 p-4 opacity-0 group-hover:opacity-100 backdrop-blur-md bg-black/80 transition-opacity duration-300 rounded-md">
                <div class="flex flex-col justify-between h-full">
                    <div class="flex items-center space-x-3">
                        {techs.map((tech) => (
                            <Image
                                src={`/icons/${tech.toLowerCase()}.svg`}
                                alt={tech}
                                width={24}
                                height={24}
                                loading={currentPath === '/' ? 'lazy' : (Number(id) <= 4 ? 'eager' : 'lazy')}
                                decoding="async"
                                format="svg"
                                draggable="false"
                                class="w-6 xl:w-8 h-6 xl:h-8 select-none"
                            />
                        ))}
                    </div>
                    <div class="flex items-end justify-between">
                        <div class="max-w-[12rem] lg:max-w-[20rem]">
                            <h3 class="text-gradient text-sm md:text-base xl:text-lg font-medium">{title}</h3>
                            <p
                                title={desc}
                                class="text-gradient-secondary text-xs md:text-sm xl:text-base line-clamp-4 text-balance max-w-72 md:max-w-80 lg:max-w-96 xl:max-w-[26rem]"
                            >
                                {desc}
                            </p>
                        </div>
                        <a
                            href={github}
                            target="_blank"
                            class="flex items-center justify-center space-x-2 p-2 rounded bg-black/30 backdrop-blur-md hover:-translate-y-1 transition-transform duration-300"
                        >
                            <Image
                                src="/icons/github.svg"
                                alt="Github"
                                width={20}
                                height={20}
                                loading={currentPath === '/' ? 'lazy' : (Number(id) <= 4 ? 'eager' : 'lazy')}
                                decoding="async"
                                format="svg"
                                draggable="false"
                                class="w-5 xl:w-7 h-5 xl:h-7 select-none"
                            />
                            <code class="text-gradient-secondary text-[0.6rem] xl:text-xs">Source code</code>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    ))
}